@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	background-color: #D7E9FF;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#question{
	padding: .6em .5em;
	font-size: 180%;
}

.tip{
	font-size: 60%;
	margin-top: 1em;
	font-weight: 400;
}

#qualification{
    position: absolute;
    display: inline-block;
    right: 25vw;
    margin-top: -12em;
}

#val{
	font-size: 5em;
	font-weight: 800;
}